@import "tailwindcss";
@plugin "daisyui";

html {
  font-family: 'Montserrat', ui-sans-serif, system-ui;
  scroll-behavior: smooth;
}

#questions {
  scroll-margin-top: 50px;
}

.gn-back {
    background-color: #EDEDED;
}

.orange-back {
    background-color: #F36F21;
}

.orange-text {
    color: #F36F21;
}

.title-text-color {
    color: #1E3A5F;
}

.blue-back {
    background-color: #1E3A5F;
}

.yellow-back {
    background-color: #FFC300;
}



.hover-animation {
  @apply transform transition duration-300 ease-in-out cursor-pointer;
}

.hover-animation:hover {
  @apply -translate-y-1; /* pequeño levantamiento */
  transform: translateY(-3px); /* leve zoom sin borroso */
  box-shadow: 0 8px 16px -4px rgba(249, 115, 22, 0.45), /* naranja intenso */
              0 4px 6px -2px rgba(249, 115, 22, 0.35); /* segunda capa de sombra */
}