@import "tailwindcss";
@plugin "daisyui";

html {
  font-family: 'Montserrat', ui-sans-serif, system-ui;
  scroll-behavior: smooth;
}

#questions {
  scroll-margin-top: 50px;
}

.gn-back {
    background-color: #EDEDED;
}

.orange-back {
    background-color: #F36F21;
}

.orange-text {
    color: #F36F21;
}

.title-text-color {
    color: #1E3A5F;
}

.blue-back {
    background-color: #1E3A5F;
}

.yellow-back {
    background-color: #FFC300;
}

/*  */