---

---

<section class="py-25 px-4 sm:px-6 gn-back border-t border-gray-300" id="coverage">
  <div class="max-w-7xl mx-auto px-4">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">
      <div>
        <h2 class="text-5xl font-bold mb-4 title-text-color">
          Desde Tabasco para todo México
        </h2>
        <p class="text-gray-500 text-lg">
          Brontto, presente en estas zonas de operación activa, ofreciendo
          nuestros servicios de alta calidad. Desde el corazón de Tabasco,
          llevamos nuestra pasión.
        </p>
      </div>
      <div class="flex justify-center">
        <img
          src="/mx.png"
          alt="Mapa de México"
          class="w-full max-w-[100%] h-auto"
        />
      </div>
    </div>
  </div>
</section>
