---

---

<section class="gn-back py-20 pt-0 px-4 sm:px-6">
  <div class="max-w-7xl mx-auto">
    <h1 class="text-5xl font-bold orange-text">Nuestras máquinas en acción</h1>
    <div class="columns-2 sm:columns-3 md:columns-4 gap-4 space-y-4 mt-12">
      <img
        src="/gallery_1.jpeg"
        alt=""
        class="w-full rounded-lg break-inside avoid shadow-xl border-4 border-orange-300"
      />
      <img
        src="/gallery_3.jpeg"
        alt=""
        class="w-full rounded-lg break-inside avoid shadow-xl border-4 border-orange-300"
      />
      <img
        src="/gallery_4.jpeg"
        alt=""
        class="w-full rounded-lg break-inside avoid shadow-xl border-4 border-orange-300"
      />
      <img
        src="/gallery_2.JPG"
        alt=""
        class="w-full rounded-lg break-inside avoid shadow-xl border-4 border-orange-300"
      />
      <img
        src="/gallery_5.jpeg"
        alt=""
        class="w-full rounded-lg break-inside avoid shadow-xl border-4 border-orange-300"
      />
      <img
        src="/gallery_6.jpeg"
        alt=""
        class="w-full rounded-lg break-inside avoid shadow-xl border-4 border-orange-300"
      />
      <img
        src="/gallery_7.jpg"
        alt=""
        class="w-full rounded-lg break-inside avoid shadow-xl border-4 border-orange-300"
      />
      <img
        src="/gallery_8.jpg"
        alt=""
        class="w-full rounded-lg break-inside avoid shadow-xl border-4 border-orange-300"
      />
      <img
        src="/gallery_9.jpg"
        alt=""
        class="w-full rounded-lg break-inside avoid shadow-xl border-4 border-orange-300"
      />
      <img
        src="/gallery_10.jpeg"
        alt=""
        class="w-full rounded-lg break-inside avoid shadow-xl border-4 border-orange-300"
      />
    </div>
  </div>
</section>
