---

---

<header class="navbar sticky top-0 z-50 h-24 px-4 sm:px-6 md:px-8 blue-back shadow-xl">
  <div class="navbar-start">
    <div class="dropdown">
      <div
        tabindex="0"
        role="button"
        class="btn btn-outline btn-warning lg:hidden"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 text-white"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"></path>
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-xl dropdown-content rounded-box z-50 mt-3 w-60 p-2 bg-[#1C2833]"
      >
        <li>
          <a href="/#contact" class="text-lg text-white">Servicios</a>
        </li>
        <li>
          <a href="/#contact" class="text-lg text-white">Nuestro equipo</a>
        </li>
        <li>
          <a href="/#contact" class="text-lg text-white">Clientes</a>
        </li>
        <li>
          <a href="/#contact" class="text-lg text-white">Cobertura</a>
        </li>
        <li>
          <a href="/#contact" class="text-lg text-white">Contacto</a>
        </li>
      </ul>
    </div>
    <a class="text-xl px-2" href="/">
      <img
        src="/logo_brontto_light.png"
        alt="Logo Brontto"
        class="w-auto max-w-[253px]"
      />
    </a>
  </div>
  <div
    class="navbar-center hidden lg:flex max-w-7xl mx-auto px-4 overflow-x-auto"
  >
    <ul class="menu menu-horizontal whitespace-nowrap space-x-6">
      <li>
        <a href="/#contact" class="text-lg md:text-base text-white">Servicios</a
        >
      </li>
      <li>
        <a href="/#contact" class="text-lg md:text-base text-white"
          >Nuestro equipo</a
        >
      </li>
      <li>
        <a href="/#contact" class="text-lg md:text-base text-white">Clientes</a>
      </li>
      <li>
        <a href="/#contact" class="text-lg md:text-base text-white">Cobertura</a
        >
      </li>
      <li>
        <a href="/#contact" class="text-lg md:text-base text-white">Contacto</a>
      </li>
    </ul>
  </div>
  <div class="navbar-end hidden sm:flex">
    <div class="dropdown dropdown-bottom dropdown-left">
      <button
        class="btn btn-lg text-lg font-bold text-white orange-back border-none shadow-none"
        >Cotizar</button
      >
      <ul
        tabindex="0"
        class="dropdown-content menu z-1 w-60 p-3 blue-back mb-2"
      >
        <li>
          <a
            href="https://wa.me/529931650533"
            target="_blank"
            class="text-white text-sm">Escríbenos directamente a WhatsApp</a
          >
          <a class="text-white text-sm"
            >Cotiza a través de nuestro cuestionario personalizado</a
          >
        </li>
      </ul>
    </div>
  </div>
</header>
