---

---

<div class="relative flex items-center justify-center h-screen">
  <div class="absolute inset-0">
    <img
      src="/hero_1.jpg"
      alt="Hero background"
      class="w-full h-full object-cover"
    />
  </div>
  <div class="absolute inset-0 bg-[#1C2833]/90 mix-blend-multiply"></div>
  <div class="relative z-10 text-center px-4 w-full max-w-6xl mx-auto">
    <h1 class="text-6xl lg:text-7xl font-bold orange-text">
      BRONTTO
    </h1>
    <h2
      class="text-3xl md:text-4xl lg:text-5xl font-bold text-white mb-4 italic"
    >
      La Fuerza que mueve tu proyecto
    </h2>
    <p
      class="text-lg sm:text-xl md:text-2xl lg:text-3xl font-semibold text-white mb-8 mt-6 max-w-2xl mx-auto"
    >
      Renta de grúas y equipos industriales en todo México.
    </p>
    <button
      class="btn btn-xl text-2xl text-white orange-back border-none shadow-none"
    >
      Cotiza vía WhatsApp
    </button>
  </div>
</div>
