---

---

<section class="gn-back py-20 px-4 sm:px-6">
  <div class="max-w-7xl mx-auto">
    <h1 class="text-5xl font-bold title-text-color">Servicios</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-12">
      <div class="card p-8 bg-white shadow-xl">
        <img
          src="/service_1.jpeg"
          alt="Descripción"
          class="w-full h-40 object-cover rounded-t-lg border-4 border-[#FFC300]"
        />
        <h3 class="text-2xl font-bold mb-3 title-text-color mt-5">
          Renta de Grúas
        </h3>
        <p class="text-gray-500">
          Renta de grúas confiable y eficiente para proyectos industriales y
          construcción. Equipos modernos y operadores certificados en todo
          México.
        </p>
        <ul class="space-y-2 mt-5">
          <li class="flex items-center">
            <svg
              class="w-5 h-5 text-[#FFC300] flex-shrink-0 mr-2"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"></path>
            </svg>
            <span class="text-gray-500 text-sm">Gran alcance</span>
          </li>
          <li class="flex items-center">
            <svg
              class="w-5 h-5 text-[#FFC300] flex-shrink-0 mr-2"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"></path>
            </svg>
            <span class="text-gray-500 text-sm"
              >Hasta 500 toneladas de capacidad</span
            >
          </li>
          <li class="flex items-center">
            <svg
              class="w-5 h-5 text-[#FFC300] flex-shrink-0 mr-2"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"></path>
            </svg>
            <span class="text-gray-500 text-sm">Con operador certificado</span>
          </li>
          <li class="flex items-center">
            <svg
              class="w-5 h-5 text-[#FFC300] flex-shrink-0 mr-2"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"></path>
            </svg>
            <span class="text-gray-500 text-sm"
              >Mantenimiento constante que garantiza la máxima seguridad</span
            >
          </li>
        </ul>
      </div>
      <div class="card p-8 bg-white shadow-xl">
        <img
          src="/service_2.jpg"
          alt="Descripción"
          class="w-full h-40 object-cover rounded-t-lg border-4 border-[#FFC300]"
        />
        <h3 class="text-2xl font-bold mb-3 title-text-color mt-5">
          Renta de Andamios
        </h3>
        <p class="text-gray-500">
          Ofrecemos andamios seguros y de alta calidad en renta, ideales para
          proyectos de construcción, mantenimiento e industria.
        </p>
        <ul class="space-y-2 mt-5">
          <li class="flex items-center">
            <svg
              class="w-5 h-5 text-[#FFC300] flex-shrink-0 mr-2"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"></path>
            </svg>
            <span class="text-gray-500 text-sm">Equipos certificados</span>
          </li>
          <li class="flex items-center">
            <svg
              class="w-5 h-5 text-[#FFC300] flex-shrink-0 mr-2"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"></path>
            </svg>
            <span class="text-gray-500 text-sm">Mantenimiento constante</span>
          </li>
          <li class="flex items-center">
            <svg
              class="w-5 h-5 text-[#FFC300] flex-shrink-0 mr-2"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"></path>
            </svg>
            <span class="text-gray-500 text-sm"
              >Cumplimos con las normas de seguridad</span
            >
          </li>
          <li class="flex items-center">
            <svg
              class="w-5 h-5 text-[#FFC300] flex-shrink-0 mr-2"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"></path>
            </svg>
            <span class="text-gray-500 text-sm"
              >Variedad de modelos para adaptarse a cada proyecto</span
            >
          </li>
        </ul>
      </div>
      <div class="card p-9 bg-white shadow-xl">
        <img
          src="/service_5.jpeg"
          alt="Descripción"
          class="w-full h-40 object-cover rounded-t-lg border-4 border-[#FFC300]"
        />
        <h3 class="text-2xl font-bold mb-3 title-text-color mt-5">
          Renta de Generadores Eléctricos
        </h3>
        <p class="text-gray-500">
          Generadores eléctricos de diferentes capacidades, listos para
          garantizar energía continua en obras, eventos, industrias y
          emergencias.
        </p>
        <ul class="space-y-2 mt-5">
          <li class="flex items-center">
            <svg
              class="w-5 h-5 text-[#FFC300] flex-shrink-0 mr-2"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"></path>
            </svg>
            <span class="text-gray-500 text-sm"
              >Generadores con mantenimiento preventivo y correctivo</span
            >
          </li>
          <li class="flex items-center">
            <svg
              class="w-5 h-5 text-[#FFC300] flex-shrink-0 mr-2"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"></path>
            </svg>
            <span class="text-gray-500 text-sm"
              >Disponibilidad inmediata en Tabasco y cobertura nacional</span
            >
          </li>
        </ul>
      </div>
      <div class="card p-9 bg-white shadow-xl">
        <img
          src="/service_3.jpg"
          alt="Descripción"
          class="w-full h-40 object-cover rounded-t-lg border-4 border-[#FFC300]"
        />
        <h3 class="text-2xl font-bold mb-3 title-text-color mt-5">
          Servicio Integral de Maniobras
        </h3>
        <p class="text-gray-500">
          Coordinamos y ejecutamos maniobras con seguridad, eficiencia y equipo
          especializado, asegurando el manejo adecuado de cargas en todo tipo de
          proyectos.
        </p>
        <ul class="space-y-2 mt-5">
          <li class="flex items-center">
            <svg
              class="w-5 h-5 text-[#FFC300] flex-shrink-0 mr-2"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"></path>
            </svg>
            <span class="text-gray-500 text-sm"
              >Definimos el tipo y capacidad óptima de grúa para garantizar
              seguridad y eficiencia</span
            >
          </li>
          <li class="flex items-center">
            <svg
              class="w-5 h-5 text-[#FFC300] flex-shrink-0 mr-2"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"></path>
            </svg>
            <span class="text-gray-500 text-sm"
              >Estimamos la duración de la maniobra</span
            >
          </li>
          <li class="flex items-center">
            <svg
              class="w-5 h-5 text-[#FFC300] flex-shrink-0 mr-2"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"></path>
            </svg>
            <span class="text-gray-500 text-sm"
              >Optimizamos recursos para reducir costos y evitar retrasos</span
            >
          </li>
        </ul>
      </div>
      <div class="card p-9 bg-white shadow-xl">
        <img
          src="/service_6.jpeg"
          alt="Descripción"
          class="w-full h-40 object-cover rounded-t-lg border-4 border-[#FFC300]"
        />
        <h3 class="text-2xl font-bold mb-3 title-text-color mt-5">
          Renta de Equipo de Respiración tipo Cascada
        </h3>
        <p class="text-gray-500">
          Contamos con equipos de respiración autónoma tipo cascada para
          trabajos en espacios confinados, emergencias industriales y ambientes
          con deficiencia de oxígeno o presencia de gases tóxicos.
        </p>
        <ul class="space-y-2 mt-5">
          <li class="flex items-center">
            <svg
              class="w-5 h-5 text-[#FFC300] flex-shrink-0 mr-2"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"></path>
            </svg>
            <span class="text-gray-500 text-sm"
              >Seguridad garantizada para entornos de alto riesgo</span
            >
          </li>
          <li class="flex items-center">
            <svg
              class="w-5 h-5 text-[#FFC300] flex-shrink-0 mr-2"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"></path>
            </svg>
            <span class="text-gray-500 text-sm"
              >Capacitación rápida para el personal en sitio</span
            >
          </li>
          <li class="flex items-center">
            <svg
              class="w-5 h-5 text-[#FFC300] flex-shrink-0 mr-2"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"></path>
            </svg>
            <span class="text-gray-500 text-sm">Operador capacitado</span>
          </li>
        </ul>
      </div>
      <div class="card p-9 bg-white shadow-xl">
        <img
          src="/service_4.jpeg"
          alt="Descripción"
          class="w-full h-40 object-cover rounded-t-lg border-4 border-[#FFC300]"
        />
        <h3 class="text-2xl font-bold mb-3 title-text-color mt-5">
          Renta de Retroexcavadora y Volteo
        </h3>
        <p class="text-gray-500">
          Retroexcavadoras y camiones de volteo listos para trabajar en
          proyectos de construcción, urbanización y movimiento de materiales.
        </p>
        <ul class="space-y-2 mt-5">
          <li class="flex items-center">
            <svg
              class="w-5 h-5 text-[#FFC300] flex-shrink-0 mr-2"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"></path>
            </svg>
            <span class="text-gray-500 text-sm"
              >Equipos en óptimas condiciones y asegurados</span
            >
          </li>
          <li class="flex items-center">
            <svg
              class="w-5 h-5 text-[#FFC300] flex-shrink-0 mr-2"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"></path>
            </svg>
            <span class="text-gray-500 text-sm">Operadores con experiencia</span
            >
          </li>
          <li class="flex items-center">
            <svg
              class="w-5 h-5 text-[#FFC300] flex-shrink-0 mr-2"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"></path>
            </svg>
            <span class="text-gray-500 text-sm">Seguridad en los trabajos</span>
          </li>
          <li class="flex items-center">
            <svg
              class="w-5 h-5 text-[#FFC300] flex-shrink-0 mr-2"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"></path>
            </svg>
            <span class="text-gray-500 text-sm"
              >Entrega puntual para no detener el avance de tu obra</span
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
