---

---

<section class="gn-back py-20 px-4 sm:px-6">
  <div class="max-w-7xl mx-auto">
    <h1 class="text-5xl font-bold orange-text">Servicios</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-12">
      <div class="card p-8 bg-white shadow-xl">
        <img
          src="/service_1.jpeg"
          alt="Descripción"
          class="w-full h-40 object-cover rounded-t-lg border-4 border-orange-300"
        />
        <h3 class="text-2xl font-bold mb-3 title-text-color mt-5">
          Renta de Grúas
        </h3>
        <p class="text-gray-500">
          Renta de grúas confiable y eficiente para proyectos industriales y
          construcción. Equipos modernos y operadores certificados en todo
          México.
        </p>
        <ul class="space-y-2 mt-5">
          <li class="flex items-center">
            <svg
              class="w-5 h-5 text-orange-300 flex-shrink-0 mr-2"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"></path>
            </svg>
            <span class="text-gray-500">Gran alcance</span>
          </li>
          <li class="flex items-center">
            <svg
              class="w-5 h-5 text-orange-300 flex-shrink-0 mr-2"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"></path>
            </svg>
            <span class="text-gray-500">Hasta 5 toneladas de carga</span>
          </li>
          <li class="flex items-center">
            <svg
              class="w-5 h-5 text-orange-300 flex-shrink-0 mr-2"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"></path>
            </svg>
            <span class="text-gray-500">Con / Sin operador</span>
          </li>
        </ul>
      </div>
      <div class="card p-8 bg-white shadow-xl">
        <img
          src="/service_2.jpg"
          alt="Descripción"
          class="w-full h-40 object-cover rounded-t-lg border-4 border-orange-300"
        />
        <h3 class="text-2xl font-bold mb-3 title-text-color mt-5">
          Renta de Andamios
        </h3>
        <p class="text-gray-500">
          Renta de andamios seguros y resistentes para cualquier obra.
          Instalación rápida y soporte profesional en todo México.
        </p>
        <ul class="space-y-2 mt-5">
          <li class="flex items-center">
            <svg
              class="w-5 h-5 text-orange-300 flex-shrink-0 mr-2"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"></path>
            </svg>
            <span class="text-gray-500">Equipos certificados</span>
          </li>
          <li class="flex items-center">
            <svg
              class="w-5 h-5 text-orange-300 flex-shrink-0 mr-2"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"></path>
            </svg>
            <span class="text-gray-500">Mantenimiento constante</span>
          </li>
          <li class="flex items-center">
            <svg
              class="w-5 h-5 text-orange-300 flex-shrink-0 mr-2"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"></path>
            </svg>
            <span class="text-gray-500">Pruebas de calidad ISO</span>
          </li>
        </ul>
      </div>
      <div class="card p-9 bg-white shadow-xl">
        <img
          src="/service_3.jpeg"
          alt="Descripción"
          class="w-full h-40 object-cover rounded-t-lg border-4 border-orange-300"
        />
        <h3 class="text-2xl font-bold mb-3 title-text-color mt-5">
          Renta de Operadores
        </h3>
        <p class="text-gray-500">
          Renta de operadores certificados para manejo seguro y eficiente de
          grúas y maquinaria. Personal capacitado disponible en todo México.
        </p>
        <ul class="space-y-2 mt-5">
          <li class="flex items-center">
            <svg
              class="w-5 h-5 text-orange-300 flex-shrink-0 mr-2"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"></path>
            </svg>
            <span class="text-gray-500">Personal altamente capacitado</span>
          </li>
          <li class="flex items-center">
            <svg
              class="w-5 h-5 text-orange-300 flex-shrink-0 mr-2"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"></path>
            </svg>
            <span class="text-gray-500"
              >Profesionales con años de experiencia</span
            >
          </li>
          <li class="flex items-center">
            <svg
              class="w-5 h-5 text-orange-300 flex-shrink-0 mr-2"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M5 13l4 4L19 7"></path>
            </svg>
            <span class="text-gray-500">Certificados por la ISO 9L27</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
